body {
  padding: 0;
  margin: 0;
  background-color: #73b3c0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

#title {
  margin: 5rem;
  color: #222e33;
  font-size: 6rem;
}

#key {
  margin: 0;
  color: #e36868;
  font-size: 20rem;
}
