body {
  padding: 0;
  margin: 0;
  background-color: #459EBA;
}

#title {
  margin: 5rem;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
}

#key {
  margin: 0;
  color: #D16754;
  font-family: sans-serif;
  font-size: 20rem;
  text-align: center;
